<h2>Сделать запись в базу данных</h2>
<br />
<div>
	<% if @text!=nil%>
	<%= @text%>
	<% end %>
</div>
<div>
	<%= form_for(@item, :url => {:action => "create_record"}) do |f|%>
	<table><tr><td>Название</td>	
	           <td><%= f.text_field :name, :size=>30 %> </td></tr>
	<tr><td>Описание</td>
	    <td><%= f.text_field :description, :size=>30 %> </td></tr>
	<tr><td>Владелец</td>
	    <td><%= f.text_field :owner, :size=>30 %> </td></tr>
	<tr><td>Держатель</td>
	    <td><%= f.text_field :holder, :size=>30 %> </td></tr>
	<tr><td><%= f.submit ("Сделать запись")%></td></tr></table>
	<% end %>
</div>

