<!DOCTYPE html>
<html>
<head>
  <title> <%= @title %> </title>
  <%= stylesheet_link_tag("styles1", :media => 'screen')%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render('layouts/header')%> 	<!отображение партиала _header.html.erb>
  <%= yield %>
  
</body>
</html>
